.dropdown {
    margin: 20px;
    width: 0;
}

.dropbtn {
    background-color: #333;
    color: white;
    padding: 10px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 120px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}