        table {
            width: 500px;
            height: 150px;
            border-collapse: collapse;
            border: 1px solid black;
            text-align: center;
        }
        td {
            width: 50%;
            border: 1px solid black;
            vertical-align: middle;
            padding-left: 10px;
            font-size: 1.2rem;
        }
        .first{
            background-color: #a7c7e7;
        }
        .second {
            background-color: #f8c8dc;
        }